In [34]:
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
import pandas as pd
from collections import OrderedDict
import sqlite3
import sys

In [35]:
conn = sqlite3.connect('Hello.db')  
curr = conn.cursor()
playerName = "Rohit Sharma"

In [36]:
curr.execute("SELECT * FROM Players WHERE Player_Name=?", ("Rohit Sharma",))
rows = curr.fetchall()
if(len(rows)!=0):
    print("Player already exists")   
    sys.exit(0)

In [37]:
curr.execute('INSERT INTO Players (Player_Name) VALUES (?)',
            (playerName,))
player_Id = curr.lastrowid

print(player_Id)
conn.commit()
conn.close()

1

In [38]:
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

In [39]:
url="http://www.espncricinfo.com/india/content/player/34102.html"
html = urllib.request.urlopen(url, context=ctx).read()

In [40]:
temp_data=OrderedDict()
list_of_dict=[]
bs=BeautifulSoup(html, "lxml")
table_body=bs.find_all('tbody')
rows = table_body[0].find_all('tr')
headings = bs.findAll('tr',{"class","head"})


heads = headings[:2]
vatting = heads[0]
bowling = heads [1]

batText = vatting.find_all("th")
bowlText = bowling.find_all("th")
bat = []
for i in batText:
    bat.append(i.text)
    
bowl = []
for i in bowlText:
    bowl.append(i.text)    


print(len(bat))

for row in rows:
    cols=row.find_all('td')
    cols=[x.text.strip() for x in cols]
    temp_data=OrderedDict()
    {el:0 for el in bat}
#     print(len(cols))
#     print(cols)
#     print(bat)
    for col in range(len(cols)):
        temp_data[bat[col]] = cols[col]

    list_of_dict.append(temp_data)

15

In [41]:
batDf=pd.DataFrame(list_of_dict)
batDf
batDf.set_index('', inplace=True)
batDf

,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,4s,6s,Ct,St
,,,,,,,,,,,,,,
Tests,27,47,7,1585,177,39.62,2881,55.01,3,10,151,32,25,0
ODIs,218,211,32,8686,264,48.52,9806,88.57,27,42,770,232,77,0
T20Is,98,90,14,2443,118,32.14,1789,136.55,4,17,217,109,35,0
First-class,87,137,16,6562,309*,54.23,,,20,30,,,67,0
List A,289,278,40,10928,264,45.91,,,30,55,,,101,0
T20s,318,305,46,8312,118,32.09,6254,132.90,6,56,735,343,126,0

In [42]:
temp_data=OrderedDict()
list_of_dict=[]
bs=BeautifulSoup(html, "lxml")
table_body=bs.find_all('tbody')
rows = table_body[1].find_all('tr')
headings = bs.findAll('tr',{"class","head"})


heads = headings[:2]
vatting = heads[0]
bowling = heads [1]

batText = vatting.find_all("th")
bowlText = bowling.find_all("th")
bat = []
for i in batText:
    bat.append(i.text)
    
bowl = []
for i in bowlText:
    bowl.append(i.text)    

# print(bat[1:])   
# print(bowl[1:])

# bat = bat[1:]
# bowl = bowl[1:]
print(len(bat))

for row in rows:
    cols=row.find_all('td')
    cols=[x.text.strip() for x in cols]
    temp_data=OrderedDict()
    {el:0 for el in bat}
#     print(len(cols))
#     print(cols)
#     print(bat)
    for col in range(len(cols)):
        temp_data[bowl[col]] = cols[col]

    list_of_dict.append(temp_data)

15

In [43]:
bowl_df=pd.DataFrame(list_of_dict)
bowl_df
bowl_df.set_index('', inplace=True)
bowl_df

,Mat,Inns,Balls,Runs,Wkts,BBI,BBM,Ave,Econ,SR,4w,5w,10
,,,,,,,,,,,,,
Tests,27,10,334,202,2,1/26,1/35,101.00,3.62,167.0,0,0,0
ODIs,218,38,593,515,8,2/27,2/27,64.37,5.21,74.1,0,0,0
T20Is,98,9,68,113,1,1/22,1/22,113.00,9.97,68.0,0,0,0
First-class,87,64,2104,1132,24,4/41,5/85,47.16,3.22,87.6,1,0,0
List A,289,70,1367,1162,30,4/28,4/28,38.73,5.10,45.5,1,0,0
T20s,318,57,628,817,29,4/6,4/6,28.17,7.80,21.6,1,0,0

In [44]:
conn = sqlite3.connect('Hello.db')  
c = conn.cursor()

In [45]:
for index, row in batDf.iterrows():
    query = """INSERT INTO `{}`
                          ('Player_ID','Mat', 'Inns', 'NO', 'Runs', 'HS', 'Ave', 'BF', 'SR', '100', '50', '4s', '6s', 'Ct', 'St') 
                          VALUES (?, ?, ?, ?,?,?, ?, ?,?,?, ?, ?,?,?,?);""".format(index)
    values = list(row)
    values.insert(0,player_Id)
    print((values))
    c.execute(query, values)
    
conn.commit()   
conn.close()

[1, '27', '47', '7', '1585', '177', '39.62', '2881', '55.01', '3', '10', '151', '32', '25', '0']
[1, '218', '211', '32', '8686', '264', '48.52', '9806', '88.57', '27', '42', '770', '232', '77', '0']
[1, '98', '90', '14', '2443', '118', '32.14', '1789', '136.55', '4', '17', '217', '109', '35', '0']
[1, '87', '137', '16', '6562', '309*', '54.23', '', '', '20', '30', '', '', '67', '0']
[1, '289', '278', '40', '10928', '264', '45.91', '', '', '30', '55', '', '', '101', '0']
[1, '318', '305', '46', '8312', '118', '32.09', '6254', '132.90', '6', '56', '735', '343', '126', '0']